<!DOCTYPE html>

<head>
  <title>Page Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/index.css">
  <script defer src="/js/fa.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title is-1">
       title
      </h1>
      <p class="body summary">
        summary content
      </p>
      <hr>
      <h2 class="title is-2">
       content title
      </h2>
      <div class="content main">
        content
      </div>
    </div>
  </section>
</body>
<footer class="footer">
  current-footer.html
</footer>